{% extends "base.html" %}

{% block page_content %}

<div class="p-2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">YAML2JSON</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'hello_index' %}">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <br><br>
    <div class="form-outline">
        <textarea class="form-control" id="jsonText" name="jsonText" rows="20" required>{% if jsonobject %}{{ jsonobject }}{% endif %}</textarea>
    </div>
    <br>
    <p><a class="link-opacity-10" href="{% url 'hello_index' %}">Convert again?</a></p>
</div>
{% endblock %}